@charset "utf-8";

$userMessage: #006ee6;
$messageBg: #4f4f4f;
$green: #25d366;
$grey: #161618;
$close: #FF605C;
$minimise: #FFBD44;
$maximise: #00CA4E;

html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    user-select: none;
}

body{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/monterey.jpeg');
    background-size:cover;
    background-position: center;
}

.whatsapp{
    width:80%;
    height:75vh;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 5% 95%;
    border-radius: 15px;
    border: 1px solid #3a3a3a;
    .top{
        grid-column: 1 / 3;
        background: $grey;
        border-radius: 15px 15px 0 0;
        border-bottom:1px solid black;
        .button-container{
            display:flex;
            align-items: center;
            height:100%;
            margin-left:1%;
            .btn{
                border-radius:50%;
                width:15px;
                height:15px;
                margin-right:9px;
                display:flex;
                justify-content: center;
                align-items: center;
                span{
                    opacity: 0;
                    transition: all 0.2s ease 0s;
                }
                &:hover{
                    span{
                        opacity: 0.8;
                    }
                }
            }
            .close{
                background: $close;
                cursor: pointer;
            }
            .minimize{
                background: $minimise;
            }
            .maximise{
                background: $maximise;
            }
        }
    }
    .contact-list{
        height:100%;
        background: rgba(41, 41, 41, 0.9);
        backdrop-filter: blur( 12px ) saturate(190%);
        -webkit-backdrop-filter: blur( 12px ) saturate(190%);
        border-radius: 0 0 0 15px;
        border-right: 1px solid black;
        .contact{
            height:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding-top:5%;
            h2{
                color: gray;
                opacity: 0.8;
                font-size: 16px;
                align-self:flex-start;
                margin-left: 7%;
                margin-bottom: 20px;
            }
            .empty-contact{
                height:70px;
                width:90%;
                display:flex;
                align-items: center;
                font-weight: 600;
                color: #f1f1f1;
                border-radius:15px;
                padding:0 5%;
                transition:all 0.2s ease-in-out 0s;
                margin-bottom:10px;
                &:hover{
                    background:rgba(255, 255, 255,0.30);
                }
                .avatar{
                    img{
                        width:45px;
                        height:45px;
                        object-fit: cover;
                        border-radius:50%;
                    }
                    margin-right:25px;
                }
            }
            .active{
                background: $userMessage;
                &:hover{
                    background: $userMessage;
                }
            }
        }
    }
    .message{
        display:grid;
        grid-template-rows: 92% 8%;
        overflow:auto;
        .conversation{
            max-width:100%;
            min-height:100%;
            background:#212124;
            display:flex;
            flex:1 1 auto;
            flex-direction: column;
            padding:0 2%;
            overflow: auto;
            .user-run{
                animation-name: fadeInRight;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }
            .run{
                animation-name: fadeInLeft;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }
            .whole-container{
                display:flex;
                flex-direction: column;
                max-width: 50%;
            }
            .message-time{
                margin-top:10px;
                color: $messageBg;
                align-self: flex-start;
                margin-bottom:10px;
            }
            .message-sent-time{
                margin-top:10px;
                color: $messageBg;
                align-self: flex-end;
                margin-bottom:10px;
            }
            .message-container{
                display:flex;
                .bot-avatar{
                    margin-right:15px;
                    height:100%;
                    display: flex;
                    align-items: flex-end;
                    img{
                        height:35px;
                        width:35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .received{
                    background: $messageBg;
                    border-radius: 15px 15px 15px 0;
                    box-shadow: 0 0 3px $messageBg;
                }
                .error{
                    background: $close;
                    border-radius: 15px;
                }
            }
            .chat{
                border-radius:1em;
                padding: 0.25em 0.75em;
                color:white;
                display:flex;
                flex-direction: column;
                justify-content:center;
                ul{
                    list-style:none;
                    li{
                        margin-bottom: 5px;
                    }
                }
            }
            .sent{
                background: $userMessage;
                align-self: flex-end;
                border-radius: 15px 15px 0 15px;
                box-shadow: 0 0 3px rgba(0, 110, 230, 0.75);
            }
        }
        .send-message{
            width:100%;
            height:100%;
            background: $grey;
            display:flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 15px 0;
            border-top: 1px solid black;
            input{
                border:none;
                padding: 0 15px;
                width:85%;
                height:50%;
                border-radius: 25px;
                background:none;
                border:1px solid #818181;
                color:white;
                &:focus{
                    outline:none;
                }
            }
            button{
                margin-left:15px;
                background:none;
                border:none;
                cursor:pointer;
                img{
                    width:35px;
                    filter: invert(52%) sepia(3%) saturate(7%) hue-rotate(338deg) brightness(96%) contrast(83%);
                    transition:all 0.3s ease 0s;
                    &:hover{
                        filter: invert(100%) sepia(14%) saturate(14%) hue-rotate(216deg) brightness(118%) contrast(89%);
                    }
                }
            }
        }
    }
}

@keyframes fadeInLeft {
    0%{
        opacity: 0;
       transform: translateX(50px); 
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
       transform: translateX(-50px); 
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.conversation::-webkit-scrollbar {
    width: 8px;
}

.conversation::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

.conversation::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $messageBg;
    transition: background 0.2s ease 0s;
    &:hover{
        background:gray;
    }
}